body {
    font-family: Arial, sans-serif;
    background: #292929;
}

h1 {
    display: grid;
    place-items: center;
    font-size: 100px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 5%;
    color: white;
}

.contenedor {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2vw; /* Ajusta el espacio entre los elementos usando unidades de vista */
}

/*NORMAL*/
.normal {
    box-shadow: 5px 5px 5px #D4AF37;
    border-radius: 20px;
    margin-bottom: 20px;
}


/*PRO*/
.pro {
    box-shadow: 5px 5px 5px #3fc4e9;
    border-radius: 20px;
    margin-bottom: 20px;
}

/*PREMIUM*/
.premium {
    box-shadow: 5px 5px 5px #ae52b0;
    border-radius: 20px;
    margin-bottom: 20px;
}

.plan {
    border: 1px solid #fafbfd;
    border-radius: 20px;
    background: #f8f8ff;
    box-shadow: 5px 5px 5px 5px #fafbfd;
    padding: 2vw; /* Ajusta el relleno utilizando unidades de vista */
    text-align: center;
    margin-left: 250%;
    width: 70%; /* Ajusta el ancho utilizando porcentaje */
}

.price {
    font-weight: bold;
    color: green;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 1vw 2vw; /* Ajusta el relleno utilizando unidades de vista */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 2vw; /* Ajusta el relleno utilizando unidades de vista */
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 2vw; /* Ajusta el tamaño de la fuente utilizando unidades de vista */
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.logo {
    display: flex;
    margin-bottom: 2vw; /* Ajusta el espacio entre los elementos utilizando unidades de vista */
    margin-left: 25%;
    height: 20vw; /* Ajusta la altura utilizando unidades de vista */
    width: 20vw; /* Ajusta el ancho utilizando unidades de vista */
    border-radius: 50%;
}

.logo img{
    height: 200px;
    width: 200px;
    margin-right: 70px;
    margin-top: 40px;
}


@media screen and (max-width: 600px) {
    .contenedor {
        grid-template-columns: 1fr;
        margin-right: 5%; /* Ajusta el margen derecho para dispositivos móviles */
    }
    .logo {
        margin-left: 5%;
        margin-top: 2vw; /* Ajusta el margen superior utilizando unidades de vista */
        margin-bottom: 5vw; /* Ajusta el margen inferior utilizando unidades de vista */
    }
    .logo img {
        margin-bottom: 1vw; /* Ajusta el espacio entre la imagen y el texto utilizando unidades de vista */
        height: 150px;
        width: 150px;
        margin-right: 0px;
        margin-top: 20px;
    }
    h1 {
        margin-left: 5%;
        font-size: 50px;
    }
    .plan {
        margin-left: 5%;
        width: 90%;
        margin-top: 10%;
    }
}
